
*.pyc
*.pyo
__pycache__/
*.pyd


env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

data.json
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
*.bak

*.log


*.cache
*.egg-info/
dist/
build/
